/* Detail.css */


.v-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.totalItems {
    color: black;
}

.v-total {
    color: black;
}

.v-between {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    column-gap: 3rem;
    align-items: center;
}

.v-button-container {
    display: flex;
    gap: 1rem;
}

.line{
    width: 100%;
    border: 1px solid #9a12b3;
}

.v-card {
    border-radius: 8px;
    display: flex;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.v-checkout {
    padding: 28px 2rem;
    top: 100px;
    text-align: left;
    position: sticky;
    align-self: flex-start;
    width: 100%;
    background-color: #efe7f0;
}

@media (max-width: 873px) {
    .v-between {
        flex-wrap: wrap;
    }
}

@media (max-width: 873px) {
    .middle {
        flex-wrap: wrap;
    }
}


@media (max-width:321px) {
    .v-card {
        min-width: 250px;
    }
}

.v-remove-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 11rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.v-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.middle {
    display: flex;
    gap: 3rem;
}

.v-card-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.v-checkout p {
    font-size: 1.2rem;
    color: black;
}

.v-checkout span {
    font-size: 1.2rem;
    color: #9a12b3;
    margin-bottom: 10px;
}

.checkout button:hover {
    background-color: #0056b3;
}


.v-checkout button {
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.v-card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.v-card-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}