/* Card.css */

.m-card {
  margin-bottom: 20px;
  width: 19rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.m-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  height: 280px;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 8px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.price {
  color: red;
  font-weight: bold;
  display: flex; /* Yeni eklenen stil */
  align-items: center; /* Dikey hizalama eklendi */
}

.add-to-cart-button {
  background-image: linear-gradient(35deg, #9a12b3, #c5eff7); /* Gradient belirtiliyor */
  border-radius: 100px;
  box-shadow: rgba(103, 102, 103, 0.2) 0 -25px 18px -14px inset, rgba(111, 110, 111, 0.15) 0 1px 2px, rgba(90, 89, 91, 0.15) 0 2px 4px, rgba(87, 85, 87, 0.15) 0 4px 8px, rgba(106, 104, 107, 0.15) 0 8px 16px, rgba(111, 110, 111, 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  margin-bottom: 10px;
}

.remove-button {
  background-color: #dc3545;
  border-color: #dc3545;
}

.add-to-cart-button:hover {
  box-shadow: rgba(129, 128, 129, 0.35) 0 -25px 18px -14px inset, rgba(158, 157, 158, 0.25) 0 1px 2px, rgba(88, 86, 88, 0.25) 0 2px 4px, rgba(61, 60, 61, 0.25) 0 4px 8px, rgba(66, 65, 66, 0.25) 0 8px 16px, rgba(85, 84, 85, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  color: white;
}
