

/* Sidebar.css */

.sidebar {
    position: fixed;
    width: 370px;
    top: 0;
    right: -371px; 
    height: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease;
    z-index: 1000;
}

.sidebar.open {
    right: 0; /* Açık konumda sağa kaydır */
}

.sidebar-content {
    height: 82%;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Overlay'ı sidebar'ın üzerine getir */
    display: none; /* Başlangıçta gizle */
}



.d-cards-container {
    margin-top: 1rem;
}

.d-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;

}


.d-card-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.details {
    padding: 15px;
    display: flex;
}

.d-card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.d-card-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #666;
}

.d-button-container {
    display: flex;
    align-items: center;
}

.d-price {
    color: #9a12b3;
    font-weight: bold;
    margin-right: 10px;
}

.d-remove-button:hover {
    background-color: #c82333;
}

.checkout {
    padding-top: 10px;
    text-align: center;
}

.checkout p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
}
.checkout span {
    font-size: 1.2rem;
    color: #9a12b3;
    margin-bottom: 10px;
}

.checkout button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout button:hover {
    background-color: #0056b3;
} 








